<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @order.details %>
</p>

<p>
  <strong>Imgs:</strong>
  <%= @order.imgs %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @order.quote %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @order.complete %>
</p>

<p>
  <strong>Starred:</strong>
  <%= @order.starred %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
